<title>About</title>
<h2>Hello from About</h2>

<p><%= @hello %></p> <!--Shows variable from pages controller called @hello -->

<div class="sidebar">
    <ul class = "sidebar-list">
        <li class ="nav-sidebar">Hello</li>
        <li class ="nav-sidebar">World</li>
        <li class ="nav-sidebar">From</li>
        <li class ="nav-sidebar">A</li>
        <li class ="nav-sidebar">Sidebar</li>
    </ul>
</div>