<title>About</title>
<h2>What is BioScript?</h2>
<p style="width:70%;">-- BioScript is a web application geared towards the independnt researcher working with next generation
sequencing data. Our goal is to walk you through the trimming and quality assurance process.</p>

<!--<p><#%= @hello %></p> Shows variable from pages controller called @hello -->
<br />
<h4>Trimming software supported:</h4>
<strong>BBDuk:</strong>

<br /><br />
<strong>Trim Galore:</strong>

<br /><br />
<strong>Trimmomatic:</strong>

<!--
<div class="sidebar">
    <ul class = "sidebar-list">
        <li class ="nav-sidebar">Hello</li>
        <li class ="nav-sidebar">World</li>
        <li class ="nav-sidebar">From</li>
        <li class ="nav-sidebar">A</li>
        <li class ="nav-sidebar">Sidebar</li>
    </ul>
</div>
-->