<title>Help</title>

<script>
    var Pbar = document.getElementById("bar");
    Pbar.style.display="none";
</script>

<center><h2>Welcome to The Help Page</h2>
<p>This is where you will find site guides on how to create a trimming script</p></center>

 <!--<#%= link_to("start", {}, :name => "start")%> TRYING to make an anchor start page list to jump down this page-->
<br /><br />

<strong>How to download the software: </strong>

<br /><br /><br /><br />

<strong>Answering questions about your super computing system: </strong>

<br /><br /><br /><br />

<strong>Screen shots on file locations: </strong>

<br /><br /><br /><br />

<strong>Finding the resulting FastQC reports: </strong>

