<body>
    <h4>BBDuk Trimming Options</h4>
    
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">
            50%
        </div>
    </div>
    
    <div id = "read">
        Single-end or Paired-end Reads? <br>
        <select id = "read_form" onchange="showDiv(this)">
            <option value="Single">Single-end</option>
            <option value="Paired">Paired-end</option>
        </select>
        
        <!--
        <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Read Type <span class ="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a onclick="showDiv('Single')">Single-end</a></li>
                <li><a onclick="showDiv('Paired')">Paired-end</a></li>
            </ul>
        </div>
        -->
        
        
    </div> 
    
    <div id = "single" style="display:block;">
        <button class="btn btn-outline-primary" onclick="showDiv('s_file')">Single file</button>
        <button class="btn btn-outline-primary" onclick="showDiv('s_files')">Multiple files</button>
        
        <div id = "s_file">
            <br>Single file to trim:<input type ="text" class ="form-control" value="Input File Name">
        </div>
        
        <div id = "s_files" style="display:none;">
            <br>Enter multiple file names seperated by a comma:<textarea class = "form-control" rows = "4">Input Multiple file names</textarea>
        </div>
        
        </br>
    </div>
    
    <div id = "paired" style="display:none;">
        
        <button class="btn btn-outline-primary" onclick="showDiv('p_file')">One Pair</button>
        <button class="btn btn-outline-primary" onclick="showDiv('p_files')">Multiple Pairs</button>
        
        <div id = "p_file">
            <br>
            Read one of single pair:
            <input type ="text" class ="form-control" value="Input R1-File Name">
            Read two of single pair:
            <input type ="text" class ="form-control" value="Input R2-File Name">
        </div>
        
        <div id = "p_files" style="display:none;">
            Read one of multiple pairs:
            <textarea class = "form-control" rows = "4">Input Multiple file names separated by a comma</textarea>
            Read two of multiple pairs:
            <textarea class = "form-control" rows = "4">Input Multiple file names separated by a comma</textarea>
        </div>
    </div>    



    <button class = "btn" id = "button" onclick="addOperation()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Operation
    </button>
    
    <div id = "operation" style="display:none;">
        <select id = "target" onchange="showDiv(this)">
            <option value="">Select Trimming Operation</option>
            <option value="Kmer">Kmer</option>
            <option value="SlidingWindow">Sliding Window</option>
        </select>
        
        <button class = "btn-sm" id = "trash" onclick="removeOperation(this.parentElement)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
        
        
    </div>    
    
    <div id = "Kmer" style = "display:none;">Hello from KMER</div>
        
        <div id="SlidingWindow" style="display:none;">Hello from sliding window</div>

    
</body>



<script>

    function removeOperation(elem){
        console.log(elem);
        //elem.removeChild(elem.children);
        elem.remove();
        
    }

    function showDiv(elem){
        
        var kMer_div = document.getElementById('Kmer');
        var kMer_check = document.getElementById("trueKmer");
        
        var SlidWin_div = document.getElementById('SlidingWindow');
        var SlidWin_check = document.getElementById("trueSlidWin");
        
        var single_div = document.getElementById('single');
        
        var paired_div = document.getElementById('paired');
        
        
        if(elem.value == "Kmer"){
            if(kMer_check == null){
                var clone = kMer_div.cloneNode(true);
                clone.id = "trueKmer";
                clone.style = "display:block;";
                elem.parentNode.append(clone);
            }
            if(kMer_check != null){
                alert("You've already choosen this option");
            }
        }
        else if(elem.value == "SlidingWindow"){
            if(SlidWin_check == null){
                var clone = SlidWin_div.cloneNode(true);
                clone.id = "trueSlidWin";
                clone.style = "display:block;";
                elem.parentNode.appendChild(clone);
            }
            if(SlidWin_check != null){
                alert("You've already choosen this option");
                }
        }
        else if(elem.value == "Single"){
            single_div.style = "display:block;";
            paired_div.style = "display:none;";
        }
        else if(elem.value == "Paired"){
            single_div.style = "display:none;";
            paired_div.style = "display:block;";
        }
        else if(elem == "s_file"){
            document.getElementById('s_file').style = "display:block;";
            document.getElementById('s_files').style = "display:none;";
        }
        else if(elem == "s_files"){
            document.getElementById('s_file').style = "display:none;";
            document.getElementById('s_files').style = "display:block;";
        }
        else if(elem == "p_file"){
            document.getElementById('p_file').style = "display:block;";
            document.getElementById('p_files').style = "display:none;";
        }
        else if(elem == "p_files"){
            document.getElementById('p_file').style = "display:none;";
            document.getElementById('p_files').style = "display:block;";
        }
        
        
    }

</script>
<script>
    
    var i = 1;
    function addOperation(){
        
        var original = document.getElementById('operation');
        
        var clone = original.cloneNode(true);
        
        clone.id = "operation" + i++;
        clone.style = "display:block;";
        
        original.parentNode.appendChild(clone);
        //or use appendChild(clone);
        
    }
</script>