<script>
    var pBar_options = document.getElementById("options");
    var pBar_select = document.getElementById("select");
    var pBar_download = document.getElementById("download");
    var pBar_directory = document.getElementById("directory");
    
    pBar_options.style.backgroundColor = "#b0b0b0";
    
    pBar_select.style.backgroundColor = "#53c322";
    pBar_download.style.backgroundColor = "#53c322";
    pBar_directory.style.backgroundColor = "#53c322";
</script>

<body>
    <%= @survey.inspect %>
    <#%= @Boptions.inspect %>
    
    <h4>BBDuk Trimming Options</h4>
    
    <div id = "read">
        Single-end or Paired-end Reads? <br>
        <select id = "read_form" onchange="showDiv(this)">
            <option value="Single">Single-end</option>
            <option value="Paired">Paired-end</option>
        </select>
    </div> 
    
    <div id = "single" style="display:block;">
        <button class="btn btn-outline-primary" onclick="showDiv('s_file')">Single file</button>
        <button class="btn btn-outline-primary" onclick="showDiv('s_files')">Multiple files</button>
        
        <div id = "s_file">
            <br>Single file to trim:<input type ="text" class ="form-control" value="Input File Name">
        </div>
        
        <div id = "s_files" style="display:none;">
            <br>Enter multiple file names seperated by a comma:<textarea class = "form-control" rows = "4">Input Multiple file names</textarea>
        </div>
        
        </br>
    </div>
    
    <div id = "paired" style="display:none;">
        
        <button class="btn btn-outline-primary" onclick="showDiv('p_file')">One Pair</button>
        <button class="btn btn-outline-primary" onclick="showDiv('p_files')">Multiple Pairs</button>
        
        <div id = "p_file">
            <br>
            Read one of single pair:
            <input type ="text" class ="form-control" value="Input R1-File Name">
            Read two of single pair:
            <input type ="text" class ="form-control" value="Input R2-File Name">
        </div>
        
        <div id = "p_files" style="display:none;">
            Read one of multiple pairs:
            <textarea class = "form-control" rows = "4">Input Multiple file names separated by a comma</textarea>
            Read two of multiple pairs:
            <textarea class = "form-control" rows = "4">Input Multiple file names separated by a comma</textarea>
        </div>
    </div>    



    <button class = "btn" id = "button" onclick="addOperation()">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add Operation
    </button>
    
    <!-- 
    OPTIONS DIV, values in drop downlist correspond to the div they are adding
    
    -->
    
    
    <div id = "operation" style="display:none;">
        <select id = "target" onchange="showDiv(this)">
            <option value="">Select Trimming Operation</option>
            <option value="qTrim">Quality Trimming</option>
            <option value="SlidingWindow">Sliding Window</option>
        </select>
        
        <button class = "btn-sm" id = "trash" onclick="removeOperation(this.parentElement)">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
        
        
    </div>    
    
    
    <!--
    Option div for quality trimming score, trying to update the @survey object with
    the information from the form below, appending :Qscore as a param to survey
    
    route matches to call action bbduk_options that then trys to use an update 
    function on survey
    
    Error: NoMethodError in SurveysController#bbduk_options
    undefined method 'update' for Survey:Class
    
    -->
    
    
    <div id = "qTrim" style = "display:none;">
        <%= bootstrap_form_for @survey, :url => surveys_bbduk_options_path(@survey) do |f| %>
            <%= f.text_field :Qscore, label: "Min Quality of Score:" %>
            <%= f.submit "Add Trimming Options" %>
        <% end %>
        
    </div>
    
    
    <div id="SlidingWindow" style="display:none;">Hello from sliding window</div>

    
</body>



<script>

    function removeOperation(elem){
        console.log(elem);
        //elem.removeChild(elem.children);
        elem.remove();
        
    }

    function showDiv(elem){
        
        var qTrim_div = document.getElementById('qTrim');
        var qTrim_check = document.getElementById("trueQtrim");
        
        var SlidWin_div = document.getElementById('SlidingWindow');
        var SlidWin_check = document.getElementById("trueSlidWin");
        
        var single_div = document.getElementById('single');
        
        var paired_div = document.getElementById('paired');
        
        
        if(elem.value == "qTrim"){
            if(qTrim_check == null){
                var clone = qTrim_div.cloneNode(true);
                clone.id = "trueQtrim";
                clone.style = "display:block;";
                elem.parentNode.appendChild(clone);
            }
            if(qTrim_check != null){
                alert("You've already choosen this option");
            }
        }
        else if(elem.value == "SlidingWindow"){
            if(SlidWin_check == null){
                var clone = SlidWin_div.clo neNode(true);
                clone.id = "trueSlidWin";
                clone.style = "display:block;";
                elem.parentNode.appendChild(clone);
            }
            if(SlidWin_check != null){
                alert("You've already choosen this option");
                }
        }
        else if(elem.value == "Single"){
            single_div.style = "display:block;";
            paired_div.style = "display:none;";
        }
        else if(elem.value == "Paired"){
            single_div.style = "display:none;";
            paired_div.style = "display:block;";
        }
        else if(elem == "s_file"){
            document.getElementById('s_file').style = "display:block;";
            document.getElementById('s_files').style = "display:none;";
        }
        else if(elem == "s_files"){
            document.getElementById('s_file').style = "display:none;";
            document.getElementById('s_files').style = "display:block;";
        }
        else if(elem == "p_file"){
            document.getElementById('p_file').style = "display:block;";
            document.getElementById('p_files').style = "display:none;";
        }
        else if(elem == "p_files"){
            document.getElementById('p_file').style = "display:none;";
            document.getElementById('p_files').style = "display:block;";
        }
        
        
    }

</script>
<script>
    
    var i = 1;
    function addOperation(){
        
        var original = document.getElementById('operation');
        
        var clone = original.cloneNode(true);
        
        clone.id = "operation" + i++;
        clone.style = "display:block;";
        
        original.parentNode.appendChild(clone);
        //or use appendChild(clone);
        
    }
</script>