<center><h2>CMD Generator</h2>
    <p>Complete this form to create a command line trimming executable</p>
</center>

<br>
<!-- page dynamically loads selected software and only shows how to download those programs --> 
<H4>Now download BBDuk and FastQC</H4>

<p>>Link to the BBDuk software page can be found <a href = "https://jgi.doe.gov/data-and-tools/bbtools/bb-tools-user-guide/bbduk-guide/">Here.</a></p>

<br>

<p>>Link to the FastQC software page can be found <a href = "https://www.bioinformatics.babraham.ac.uk/projects/fastqc/">Here.</a> </p>

<button type="button"><%= link_to "Next >", forms_setup_path %></button>